#light-table {
  width:100%;
  height:100%;
  position:relative;
  top:70px;
  background:#f2e9e1;
}

.image-viewer {
  margin:0;
  padding:0;
  border:1px solid #AAA;
  position:absolute;
  cursor:move;
}

.image-viewer-controller {
  background-color:#f2e9e1;
  padding:5px;
  color:#38120b;
  width:auto;
}

.image-viewer-close {
  cursor: pointer;
  float:right;
  display:block;
  text-indent:-9999px;
  line-height:20px;
  height:18px;
  width:18px;
  background:url(../vm-images/closePanel.gif);

}

.image-viewer-transparency-slider {
  margin:10px 10px 5px 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b89b7d', endColorstr='#f2e9e1', gradientType=1); /* for IE */
  background: -webkit-gradient(linear, left top, right top, from(#b89b7d), to(#f2e9e1)); /* for webkit browsers */
  background: -moz-linear-gradient(left,  #b89b7d,  #f2e9e1); /* for firefox 3.6+ */ 
  height:9px;
}

.image-viewer-transparency-slider a {
  border:none;
  outline: none;
  width:80%;
}

.image-viewer-transparency-slider .ui-state-default, 
.image-viewer-transparency-slider .ui-widget-content .ui-state-default, 
.image-viewer-transparency-slider .ui-widget-header .ui-state-default {
  cursor: pointer;
  background: url(../images/ui/brown-glass.png) 0 0  no-repeat;
  border: none;
  height:18px;
  width:18px;
}

.image-viewer-image {
  position:relative;
  display:block;
  margin:0;
  padding:0;
  width:auto;
}



.image-viewer-image{margin-left:auto; margin-right:auto;}
