#main-navigation {
  font-family: sans-serif;
  font-size:0.9em;
  position:relative;
  overflow:hidden;
  clear:both;
  width:100%;
}

#main-navigation a {
}

#main-navigation ul,
#main-navigation li {
  margin:0;
  padding:0;
  list-style:none;
}


#main-navigation ul {
  position:relative;
  overflow:hidden;
  width:100%;
}
#main-navigation ul li {
  float:left;
}

#main-navigation ul li a {
  color: black;
  text-decoration: none;
  text-align:center;
  /*background:#dfceb3;*/
  display:block;
  padding:12px 10px 8px 10px;
  /* for IE 7 and 8 */
  background:url(../images/132-93-62-50pct.png);
  /* for good browsers   */
  background: rgba(132, 93, 62, 0.50); 
  color:#f2e9e1;
  border-right:1px solid #442211;
  width:200px;
}

#main-navigation ul li.active a {
  color:black;
  font-weight:bold;
  background:#dfd1c5;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  border-right:1px solid #dfceb3;
}

#navigation {
  font-family: sans-serif;
  font-size:0.9em;
  position:relative;
  overflow:hidden;
  float:left;
  width: 220px;
  margin-right: -100%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2e9e1', endColorstr='#dfd1c5'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f2e9e1), to(#dfd1c5)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #f2e9e1,  #dfd1c5); /* for firefox 3.6+ */ 
}

#navigation a {
  color: black;
  text-decoration: none;
  text-align:center;
  /*background:#dfceb3;*/
  display:block;
  padding:12px 10px 8px 10px;
  /* for IE 7 and 8 */
  background:url(../images/132-93-62-15pct.png);
  /* for good browsers   */
  background: rgba(132, 93, 62, 0.15); 
  background:#dfd1c5;
}

#navigation a.all-witnesses {
  background: #eadfd4;	
}


#navigation ul,
#navigation li {
  margin:0;
  padding:0;
  list-style:none;
}

#navigation li.active a {
  color:black;
  font-weight:bold;
  background:#f2e9e1;
}

.page-iconography #navigation {
  width:100%;
  height:70px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfd1c5', endColorstr='#f2e9e1'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#dfd1c5), to(#f2e9e1)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #dfd1c5,  #f2e9e1); /* for firefox 3.6+ */ 

}

#mode-navigation {
  clear:both;
  width:100%;
}
#mode-navigation ul {
  position:relative;
  overflow:hidden;
  width:100%;
}
#mode-navigation ul li {
  float:left;
}


#mode-menu li a {
  /* for IE 7 and 8 */
  /* background:url(../images/132-93-62-50pct.png);*/
  /* for good browsers   */
  /*background: rgba(132, 93, 62, 0.50);*/ 
  color:#442211;
  width:90px;
}
#mode-menu li a.browse-mode {
/*  -moz-box-shadow:inset 0px -4px 4px rgba(0,0,0,.35);
  -webkit-box-shadow:inset 0px -4px 4px rgba(0,0,0,.35);*/
}

#mode-menu li a.compare-mode {
/*  -moz-box-shadow:inset 0px -4px 4px rgba(0,0,0,.35);
  -webkit-box-shadow:inset 0px -4px 4px rgba(0,0,0,.35);*/
}

#mode-menu li a.image-mode {
/*  -moz-box-shadow:inset 0px -4px 4px rgba(0,0,0,.35);
  -webkit-box-shadow:inset 0px -4px 4px rgba(0,0,0,.35);*/
/*  border-right:none;*/
}

#mode-menu li.active a {
  background:#f2e9e1;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}

#mode-sub-navigation ul {
 /* background:#dfceb3;
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2e9e1', endColorstr='#dfceb3'); /* for IE */
/*  background: -webkit-gradient(linear, left top, left bottom, from(#f2e9e1), to(#dfceb3)); /* for webkit browsers */
/*  background: -moz-linear-gradient(top,  #f2e9e1,  #dfceb3); /* for firefox 3.6+ */ 
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2e9e1', endColorstr='#b89b7d'); /* for IE */
/*  background: -webkit-gradient(linear, left top, left bottom, from(#f2e9e1), to(#b89b7d)); /* for webkit browsers */
/*  background: -moz-linear-gradient(top,  #f2e9e1,  #b89b7d); /* for firefox 3.6+ */ 
  width:180px;
  height:auto;
  padding:20px;
  margin-bottom:30px;
}

#mode-sub-navigation ul#image-mode-menu {
  width:100%;
  padding:0;
  margin-bottom:0;
}

#browse-mode-menu li,
#compare-mode-menu li,
#image-mode-menu li {
  float:left;
}

#browse-mode-menu li a,
#compare-mode-menu li a,
#image-mode-menu li a,
#image-mode-menu li.active a {
  /*background:#dfceb3;*/
  border-top:1px solid #fff;
  border-left:1px solid #fff;
  border-bottom:1px solid #bbae9a;
  border-right:1px solid #bbae9a;
  background:#f2e9e1;
  padding:14px 5px 11px 5px;
  margin:0;
  width:78px;
}

a.thumb-browse-mode,
a.thumb-compare-mode {
  width:50px;
}
#browse-mode-menu li.active a,
#compare-mode-menu li.active a,
#image-mode-menu li a:active {
  border:none;
  border:2px solid #dfceb3;
  border-top:2px solid #845d3e;
  border-left:2px solid #845d3e;
  border:1px solid #dfceb3;
  -moz-box-shadow:inset 2px 2px 2px rgba(0,0,0,.35);
  -webkit-box-shadow:inset 2px 2px 2px rgba(0,0,0,.35);
  background:#eadfd4;
}


#image-mode-menu li a,
#image-mode-menu li.active a {
  padding:9px 10px 6px 10px;
  width:199px;
}




#witness-navigation {
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfceb3', endColorstr='#b89b7d'); /* for IE */
/*  background: -webkit-gradient(linear, left top, left bottom, from(#dfceb3), to(#b89b7d)); /* for webkit browsers */
/*  background: -moz-linear-gradient(top,  #dfceb3,  #b89b7d); /* for firefox 3.6+ */ 
/*  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2e9e1', endColorstr='#b89b7d'); /* for IE */
/*  background: -webkit-gradient(linear, left top, left bottom, from(#f2e9e1), to(#b89b7d)); /* for webkit browsers */
/*  background: -moz-linear-gradient(top,  #f2e9e1,  #b89b7d); /* for firefox 3.6+ */ 
  position:relative;
  /*width:101%;*/
  /*
  clear:both;
  padding:0;
  padding:20px 10px 10px 10px;
  margin:0;
  width:200px;
  */
}
#witness-navigation {
  padding:0 10px;
}
#tree-nav{
  width:960px;
  text-align:center;
  margin:0 auto 0 0;
}

#thumb-witness-menu li {
    padding:0;
 		margin:0 20px 10px 20px;
    width: 160px;
    height: 120px;
    overflow:hidden;
    float:none;
}

#thumb-witness-menu li a {
  width:160px;
  height:120px;
  margin:0;
  padding:0;
}
#thumb-witness-menu li.active a img {
  width:160px;
  height:120px;
  padding:0;
  border:none;
}

#thumb-witness-menu li.active a img {
  width:152px;
  height:112px;
  padding:0;
  border:4px solid #f2e9e1;
}

#list-witness-menu li a {
  text-align:left;
  background:none;
}

.jcarousel-skin-basic {
  position:relative;
}
.jcarousel-skin-basic .jcarousel-container-vertical {
    width: 180px;
    height: auto;
    padding: 40px 0;
}

.jcarousel-skin-basic .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-basic .jcarousel-clip-vertical {
    width:  100%;
    height: 100%;
}

.jcarousel-skin-basic .jcarousel-item-vertical {
}

#thumb-nav .jcarousel-skin-basic .jcarousel-item-vertical {
 		margin:0 10px 10px 10px;
    width: 160px;
    height: 120px;
    overflow:hidden;
    float:none;
}

#list-nav .jcarousel-skin-basic .jcarousel-item-vertical {
    width: 100%;
    height: auto;
    margin-bottom:10px;
    float:none;
}

.jcarousel-skin-basic .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


/**
 *  Vertical Buttons
 */
.jcarousel-skin-basic .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 74px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.jcarousel-skin-basic .jcarousel-next-vertical:hover,
.jcarousel-skin-basic .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-basic .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-basic .jcarousel-next-disabled-vertical,
.jcarousel-skin-basic .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-basic .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-basic .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-basic .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 74px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.jcarousel-skin-basic .jcarousel-prev-vertical:hover,
.jcarousel-skin-basic .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-basic .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-basic .jcarousel-prev-disabled-vertical,
.jcarousel-skin-basic .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-basic .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-basic .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
